@import "../theme.less";
@import "./var.less";
@import (reference) "~@share/less/var.less";
@import (reference) "~@share/less/common.less";

.ydg-page {
    position: relative;
    min-height: 100%;
    background-color: white;
    .ivu-layout {
        background-color: white;
    }
}

.ydg-container {
    margin: 0 auto;
    width: @main-width;
}

.intro {
    padding-top: 80px;
    .funcList {
        margin-top: 70px;
        margin-bottom: 40px;
        .func {
            height: 340px;
            border: 1px solid rgb(204, 204, 204);
            padding: 46px 20px 0;
            margin-bottom: 20px;
            .title {
                text-align: center;
                .ellipsis;
                font-size: 18px;
                color: @main-color;
                font-weight: bold;
            }
            .icon {
                margin-top: 30px;
                text-align: center;
                img {
                    height: 48px;
                }
            }
            .introduce{
                margin-top:20px;
                font-size: 14px;
                color: @main-color;
                line-height: 1.8;
                height: 134px;
                overflow: hidden;
            }
        }
    }
}
